#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: miguellimachi # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIdqlFLCljTKTyoR48zblXmQFLlOyb7LJMXGVXhQncEiEB3lQBXvoL6wKJONRKIUtS3iSYy0ooUhG7cO+efmRK/s7+YVoYU6TncIbz2/A7PmBNxliXG3gLPe8Kkg6iow7sQZnuT+0y9EJcreTY6wsZYfwvo8/Z9ITUOeLZKwTAcxZ2W+P8p6QxcUiSnOm81e7Uud0ZrmV/kJtmvEtSXdnkV+71CNAGEPdTVHKDaG/IaTTzTib9YDe0oJpggH9k7NoDdwYjlQPlKaNA+FZiL0TEI+Q3akY2eTKAOV8J+PpkF0az+B7Gw3l4XQ0Y0Zil2/zq8DMH4b9KYxcwAf8VH0P7 miguel@miguel-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false


